*{margin: 0;
    padding: 0;}
    
    body{
        background-color:#EEEEEE;
        ;
    
    }
    .container{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        flex-wrap: wrap;
        margin: 250px;
    
    }
    
    .car{ 
        width: 250px;
        height: auto;
        background: #DDDDDD;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        text-align: center;
        border-radius: 15px;
        padding: 10px;
        flex-wrap: wrap;
        
    
    } 
    
    h1 { text-align: center;
        color: rgb(0, 0, 0);
       margin: 50px;
       
    }
    
    
    
    